@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Space+Grotesk:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Handlee;
}

html {
  height: 100%;
  width: 100%;
  background-color: #A1C3D1;
  color: white;
}

h1 {
  color: #E64398;
  font-size: 50px;
}

h3 {

  color: #9577a6;
  font-size: 20px;

}

img {
  width: 300px;
  height: 300;
}

#backgroundimg {
  background-image: url("money-2.webp");
  background-size: cover;

  height: 60vh;
  width: 100vw;

}

#opacitychanger {
  background-color: white;
  height: 25vh;
  width: 50vw;
  opacity: 0.75;

}

#title {

  margin: auto;
  width: 300px;
  height: 200px;
  top: -10vh;

  text-align: center;
  position: relative;
  z-index: 3;

}

#main {
  padding: 20px;
  margin: auto;
  width: 690px;

}

.section {
  box-sizing: border-box;
  padding: 5%;
  vertical-align: top;
  display: flex;
  align-items: center;
  margin: auto;

  background-color: #9577a6;
  border-radius: 15px;
  animation: fadeeinn 5s;
}

.section img {
  height: 300px;
  width: 350px;
  margin-left: 10px;
}

.section p {
  width: 300px;
  position: relative;
  top: 0px;
  font-size: 20px;
  padding-right: 10px;

}

#main h2 {
  text-align: center;
  padding: 2%;
  font-size: 35px;


}

#button {
  padding: 5px;
  font-weight: 700;
  height: 40px;
  width: 100px;
}

#header {
  position: relative;
  display: flex;
  align-items: center;
  height: 25vh;
  width: 50vw;
  margin: auto;
  top: 10vh;
  text-align: center;
  z-index: 2;
}

@keyframes fadeeinn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }

}

.popup {
  position: absolute;
  height: 40vh;
  width: 40vw;
  background: #9577a6;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: double white 10px;
  overflow-y: scroll;
}

.popuptitle {
  margin-top: 20px;
}

.popup button {
  height: 30px;
  width: 60px;
}

.pie {
  width: 20%;
  height: 20%;
  background: blue;
}

.savefile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: pink;
  margin-left: 5%;
  margin-right: 5%;
  border: solid white 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 6px;

}

.savefile p {
  padding-left: 5%;
  font-size: 12pt;
  color: black;
}

.popup a {
  text-decoration: none;
}